@inherits LayoutComponentBase

<Div>
    @Body
</Div>

<style>
    .login-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
    }
</style>
