@using Sample_BlazorWeb.Pages
@inherits LayoutComponentBase
<Div >
    <main>
        <CascadingValue Value="SectionOutlet">
            <div class="top-row px-4">
                <SectionOutlet @ref="SectionOutlet" />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank" >About</a>&nbsp;&nbsp;
                <Button Color="Color.Primary" Clicked="@ShowOffcanvas">Menu</Button>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>

    <Offcanvas @ref="offcanvasRef" ShowBackdrop Closing="@OnOffcanvasClosing" style="width:250px;Placement:Placement.Left">
        <OffcanvasHeader style="background-color: #343a40; color: white;">
            <span style="font-weight: bold; font-size: 1.25rem;">APPLICATION</span>
            <CloseButton Clicked="@HideOffcanvas" style="color: white;" />
        </OffcanvasHeader>
        <OffcanvasBody style="background-color: #343a40;color: white;">
            <Div style="height: 100%;width:250px; display: flex; flex-direction: column; justify-content: space-between;">
               
                <nav class="flex-column" >
                    <Div style="margin-bottom: 20px">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="HideOffcanvas">
                            <span class="oi oi-home" aria-hidden="true" style="font-weight: bold; font-size: 1rem;"></span> Home
                        </NavLink>
                    </Div>
                    <Div style="margin-bottom: 20px">
                        <NavLink class="nav-link" href="counter" @onclick="HideOffcanvas">
                            <span class="oi oi-list-rich" aria-hidden="true" style="font-weight: bold; font-size: 1rem;"></span> Counter
                        </NavLink>
                    </Div>
                    <Div style="margin-bottom: 20px">
                        <NavLink class="nav-link" href="login" @onclick="HideOffcanvas" >
                            <span class="oi oi-plus" aria-hidden="true" style="font-weight: bold; font-size: 1rem;"></span> Form
                        </NavLink>
                    </Div>
                 </nav>
            
            </Div>
        </OffcanvasBody>
    </Offcanvas>
</Div>

@code {
    private SectionOutlet? SectionOutlet { get; set; }

    private Offcanvas offcanvasRef;

    private bool cancelClose;

    private Task ShowOffcanvas()
    {
        return offcanvasRef.Show();
    }

    private Task HideOffcanvas()
    {
        cancelClose = false;
        return offcanvasRef.Hide();
    }

    private Task OnOffcanvasClosing(OffcanvasClosingEventArgs e)
    {
        e.Cancel = cancelClose || e.CloseReason != CloseReason.UserClosing;
        return Task.CompletedTask;
    }
}
